@import './main.css';

/* .wby-choose-us {
  width: 100%;
  position: relative;
  background-color: var(--salem-green);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.625rem;
  box-sizing: border-box;
  text-align: center;
  font-size: 2.25rem;
  color: var(--pure-white);
  font-family: var(--font-poppins);
}

.why-choose-us {
  font-weight: var(--font-width);
  font-family: var(--font-poppins);
}

.main-div {
  width: 100%;
  margin-bottom: 10%;
}

.cloud-based-software-wrapper h4 {
  font-weight: bold;
}

.frame1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
}

.frame2 img {
  width: 100%;
}

.frame-parent {
  display: flex;
  justify-content: center;
  margin-top: 6%;
  height: 100%;
}

.frame3 {
  width: 100%;
}

.frame4 {
  top: 0;
  left: 0;
  padding: 10px;
}

.frame5 {

  margin-left: 25px;
  text-align: left;
}

.frame6 {
  margin-top: 38%;
  margin-left: 100px;
  text-align: left;
}

.frame8 {
  width: 100%;
}

.frame9 {
  top: 0;
  left: 0;
  padding: 10px;
}

.frame10 {
  margin-right: 25px;
  text-align: right;
}

.frame11 {
  font-size: var(--font-size-sm);
}

.frame12 {
  margin-top: 38%;
  margin-right: 100px;
  text-align: right;
}

@media screen and (max-width:767px) {
  .main-div {
    margin-top: 10%;
  }

  .why-choose-us {
    font-size: var(--font-size-respon);
    font-weight: 700;
  }

  .cloud-based-software-wrapper {
    text-align: center;
  }

  .cloud-based-software-wrapper h4 {
    font-weight: bold;
  }

  .frame-parent {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    height: 100%;
    flex-wrap: wrap;
  }

  .frame1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 8%;
  }

  .frame3 {
    width: 90%;
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .frame4 {
    padding: 0;
  }

  .frame5 {
    margin-left: 0px;
    text-align: center;
  }

  .frame6 {
    margin-top: 6%;
    margin-left: 0px;
    padding: 2px;
  }

  .frame7 {
    margin-left: 0px;
    text-align: center;
  }

  .frame8 {
    width: 90%;
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .frame9 {
    padding: 0;
  }

  .frame10 {
    margin-top: 6%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 2px;
    text-align: center;
  }

  .frame12 {
    margin-top: 6%;
    margin-right: 0px;
    padding: 2px;
    text-align: center;
  }

  .frame13 {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {
  .frame1 {
    width: 35%;
  }
  .choose-card {
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: var(--salem-green);
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.15) 4.95px 6.95px 9.6px;
  }
} */

/* ...............chooseus3....................  */
.wcuHeading {
  font-weight: var(--font-width);
  font-family: var(--font-poppins);
  color: var(--brandeis-blue);
}

.wcuSubHead {
  font-family: var(--font-poppins);
  color: var(--brandeis-blue);
  font-weight: bolder;
  margin-bottom: 12px;
}

.circleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--Periwinkle-blue);
  box-shadow: rgb(181, 196, 238) 0px 5px 15px;
  border: 3px solid #fff;
  position: relative;
}

.smallCircle {
  width: 2rem;
  height: 2rem;
  margin-left: -120px;
  margin-top: -15px;
  background-color: var(--Periwinkle-blue);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 2px solid #fff;
  position: absolute;
}

.borderCircle {
  width: 34rem;
  height: 38rem;
  margin-left: -24.2rem;
  border: none;
  border-right: 3px solid var(--Pale-cornflower-blue);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}


.borderCircle2 {
  /* width: 34rem;
  height: 38rem;
  margin-left: -42px; */
  width: 28rem;
  height: 38rem;
  margin-left: -9px;
  border: none;
  border-left: 3px solid var(--Pale-cornflower-blue);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /* position: absolute; */
}

.wcuLeftImg {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: drop-shadow(-2px 20px 14px rgb(181, 196, 238));
}

.wcuLeftImg2 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  filter: drop-shadow(-2px 20px 14px rgb(181, 196, 238));
}

.wcu-img {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 8px;
}


.be-always-connected {
  font-size: var(--font-size-mini);
  /* font-family: var(--plus-Jakarta-Sans); */
  margin: 0px 50px;
  padding: 0px 45px;
  padding-left: 30px;
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .be-always-connected {
    font-size: var(--font-size-mini);
    font-family: var(--plus-Jakarta-Sans);
    margin: 0px;
    padding: 0px 25px;
    /* padding-left: 40px; */
  }

  .circleIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--Periwinkle-blue);
    box-shadow: rgb(181, 196, 238) 0px 5px 15px;
    border: 3px solid #fff;
    position: relative;
  }

  .wcuRightDiv {
    width: 75%;
  }

  .borderCircle {
    width: 0rem;
    height: 38rem;
    margin-top: 2rem;
    margin-left: 2rem;
    border: 1px solid var(--Pale-cornflower-blue);
    position: absolute;
  }

  .borderCircle2 {
    width: 0rem;
    height: 38rem;
    margin-top: 2rem;
    margin-left: -2rem;
    border: 1px solid var(--Pale-cornflower-blue);
    position: absolute;
    z-index: -1;
  }
}
@media screen and (max-width: 767px) {
  .circleIcon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--Periwinkle-blue);
    box-shadow: rgb(181, 196, 238) 0px 5px 15px;
    border: 1px solid #fff;
    position: relative;
  }
}
@media screen and (min-width: 1480px) {
  .borderCircle {
  width: 36rem;
  height: 36rem;
  margin-left: -25rem;
}
.borderCircle2 {
  height: 34rem;
}
}
@media screen and (min-width: 1680px) and (max-width: 2024px) {
  .borderCircle {
  width: 36rem;
  height: 36rem;
  margin-left: -24rem;
}
}