
.doctor-banner{
    margin: 100px 32px 80px 32px;
    padding: 20px 20px 0px 20px;
    background: radial-gradient(circle, rgb(230, 238, 247) 0%, rgba(251,244,251,1) 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: var(--br-5xs);
    overflow: hidden;
    position: relative;
}
.doc-Leftdiv{
    width: 60%;
    margin: 20px;
    padding: 80px;
    padding-right: 12px;
    padding-bottom: 12px;
    z-index: 1;
    /* text-align: c; */
}

.doc-Leftdiv .title{
    margin-bottom: 30px;
    font-family: var(--plus-Jakarta-Sans);
    color: var( --royel-blue);
    font-weight:900;
}
.doc-feat{
    margin-left: 40px;
    font-family: var( --font-poppins);
}

.doctor-img{
    width:100%;
    height: 480px;
    margin-top: 5rem;
    aspect-ratio: 1/1;
    background-color: var(--Periwinkle-blue);
    border-radius: 50%;
    position:relative;
    z-index: 1;
}
.doctor-img img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    /* position: absolute; */
}

.doc-shape1{
    width: 500px;
    height: 500px;
    /* margin-top: 300px; */
    bottom: -325px;
    right: -100px;
    /* margin-left: 68%; */
    background-color: var( --Pale-cornflower-blue);
    border-radius: 50%;
    float: right;
    position: absolute;
    z-index: 2;
  }
.doc-shape2{
  width: 180px;
  height: 180px;
  margin-top: 30px;
  margin-left: 52%;
  background-color: var( --Pale-cornflower-blue);
  border-radius: 50%;
  position: absolute;
  z-index:1;
}
.doc-shape3{
    width: 100px;
    height: 100px;
    /* margin-top: 250px; */
    bottom: 20px;
    margin-left: 54%;
    background-color: var(--Periwinkle-blue);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.doc-shape4{
    width: 300px;
    height: 300px;
    margin-top: -220px;
    opacity: 0.7;
    background-color: var(--Periwinkle-blue);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.doc-shape5{
    width: 100px;
    height: 100px;
    margin-top: 360px;
    margin-left: 0%;
    background-color: var(--Pale-cornflower-blue);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

@media screen and (max-width:767px) {
    .doctor-banner{
        flex-wrap: wrap-reverse;
    }
    .doc-Leftdiv {
        width: 100%;
        margin:60px 0px 20px 0px;
        padding:40px 0px 0px 0px;
        /* text-align: center; */
    }
    .doc-Leftdiv .title{
        text-align: center;
    }
    .doctor-img{
        margin-top: 0rem;
        height: auto;
        border-radius: 20%;
    }
    .doc-feat{
        margin-left: 0px;
    }
    .doc-shape1{
        width: 160px;
        height: 120px;
        top: -60px;
        /* margin-bottom: 300px; */
        margin-left: 30%;
        border-radius: 20%;
      }
    .doc-shape2{
      width: 180px;
      height: 180px;
      top: 130px;
      /* margin-bottom: 450px; */
      margin-left: 52%;
    border-radius: 10%;
    }
    .doc-shape3{
        width: 70px;
        height: 70px;
        top: 290px;
        /* margin-bottom: 290px; */
        margin-left: -6%;
        border-radius: 20%;
    }
    .doc-shape4{
        width: 200px;
        height: 200px;
        top: 140px;
        /* margin-bottom: 585px; */
        margin-left: -41%;
        border-radius: 10%;
    }
    .doc-shape5{
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .doctor-banner{
        padding: 0px;
        margin: 100px 25px 80px 25px;
    }
    .doc-Leftdiv {
        width: 100%;
        margin: 20px;
        padding: 0px;
        z-index: 1;
    }
    .doc-feat {
        margin-left: 12px;
    }
    .doctor-img {
        width: 100%;
        height: 240px;
        margin-top: 7rem;      /*after remove under constraction text modify margin-top:4rem */
        aspect-ratio: 1 / 1;
        background-color: var(--Periwinkle-blue);
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }
    .doc-shape1 {
        width: 430px;
        height: 430px;
        bottom: -270px;
        right: -200px;
    }
    .doc-shape3 {
        width: 80px;
        height: 80px;
        bottom: 90px;
        right: 151px;
    }
    .doc-shape2 {
        width: 160px;
        height: 160px;
        top: 0px;
        right: 77px;
    }
    .doc-shape5 {
        bottom: -23px;
        left: -20px;
    }
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .doctor-img {
        width: 100%;
        height: 400px;
    }
    .doc-Leftdiv {
        width: 100%;
        margin: 20px;
        padding: 0px;
        z-index: 1;
    }
    .doc-feat {
        margin-left: 12px;
    }
}

