.main-faqs{
    margin: 100px 0px;
}
.faq-heading{
    font-family: var(--font-poppins);
    font-weight: var(--font-width);
}
.faq-text{
    font-family: var( --plus-Jakarta-Sans);
    font-size: var( --font-size-sm);
    color: var(--tp-common-black);
}
.main-accordino{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}
.accordinobtn{
    width: 60%;
}
.accordion-button{
    font-family: var(--font-poppins);
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .accordinobtn{
        width: 90%;
    }   
}