@import './main.css';
.featuresmain{
    width: 100%;
    height: auto;
    padding: 8px;
    margin-bottom: 20px;
}
.mainhead{
   margin: 20px 80px;
   padding-left:10px;
   padding-right:10px;
}
.mainhead p{
    /* padding: 0px 40px; */
    font-family: var(--font-poppins);
    text-align: center;
    font-size: var(--font-size-base);
}
.featureHead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin: 45px 0px;
    margin-bottom: 10px;
}
.featureHead h1{
    font-weight: var(--font-width);
    color: var(--brandeis-blue);
    font-family: var(--font-poppins);
    /* color: var(--black ); */
}

.main-card{
    margin: 50px 35px;
}

.card{
border: none;
background-color: #F3F0F0;
box-shadow: rgba(0, 0, 0, 0.15) 4.95px 6.95px 9.6px;
}
.card-title{
    font-family: var(--font-poppins);
    color: var(--black );
    font-weight: bolder;
}
.card-title img{
    width: 80px;
    margin-left: -25px;
    margin-right: -12px;
}
.card-text{
    font-family: var(--font-poppins);
    font-size: var(--font-size-mini);
}
@media screen and (max-width:767px) {
    .featuresmain {
        padding: 10px;
    }
    .featureHead{
        /* padding: 0px 8px; */
    }
    .mainhead{
        margin: 0px;
        /* padding: 0px 16px; */
    }
    .mainhead p {
        margin: 0px;
        padding: 0px 10px;
        text-align: center;
    }
    .main-card {
        margin: 40px 16px;
    }
}