@import './main.css';
.featuresmain{
    width: 100%;
    height: auto;
    padding: 8px;
    margin-bottom: 20px;
}
.mainhead{
   margin: 20px 80px;
   padding-left:10px;
   padding-right:10px;
}
.mainhead p{
    font-family: var(--font-poppins);
    text-align: justify;
}
.featureHead{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin:20px 0px;
}
.featureHead h1{
    font-weight: bolder;
    color: var(--brandeis-blue);
    font-family: var(--font-poppins);
    /* color: var(--black ); */
}

.main-card{
    margin: 50px 80px;
}

.card{
border: none;
background-color: #F3F0F0;
box-shadow: rgba(0, 0, 0, 0.15) 4.95px 6.95px 9.6px;
}
.card-title{
    font-family: var(--font-poppins);
    color: var(--black );
    font-weight: bolder;
}
.card-text{
    font-family: var(--font-poppins);
}
@media screen and (min-width:200px) {
    .featuresmain {
        padding: 10px;
    }
    .featureHead{
        padding: 0px 8px;
    }
    .mainhead{
        margin: 0px;
        padding: 0px 16px;
    }
    .main-card {
        margin: 40px 16px;
    }
}