:root{
    --cenetian-red  : #f7281e;
    --salem-green   : #198f51;
    --brandeis-blue : #0060FE;
    --blue          : #4e73df;
    --f-helvetica-text-regular: "HelveticaNowMTTextRegular", Helvetica, Arial, sans-serif;
}