 @import './main.css';

 .headershado {
  box-shadow: 0 4px 6px -1px gray;
   backdrop-filter: blur(8px);
   transition: all 0.5s ease;
   padding-top: 0;
   padding-bottom: 0;
   /* background-color: var(--blue); */
   background-color: #3989fa;
 }
 .navbar-transparent{
  background-color: transparent;
  transition: all 0.5s ease;
 }

 .navfontstyle {
   font-family: var(--f-helvetica-text-regular);
   font-size: 18px;
 }
.navtext{
  color:var(--pure-white);
}
.navtext:hover{
  color: var(--pure-white);
}
.navfontstyle .nav-link{
  transition: margin-top 0.3s ease;
}
.navfontstyle .nav-link:hover {
   /* color: var(--brandeis-blue); */
   margin-top: -8px;
}

.navlogo {
   width: 60%;
   filter: drop-shadow(0 0 0.4rem #fff);
}

#navbar-brand {
   margin-left: 20px;
}

.nav-item {
   display: flex;
   align-self: center;
   margin-left: 8px;
   /* padding-left: 8px; */
   font-style: var(--f-helvetica-text-regular);
}
.nav-item:hover {
  /* transition: 0.3s ease; */
  border-bottom: 2px solid var(--blue);
}
.active {
  border-bottom: 2px solid var(--blue);
}
.deactive{
  color: var(--pure-white);
  border-bottom: 2px solid var(--pure-white);
}
.navbutton:hover{
  border: none;
}
.loginbtn { 
    color: var( --blue);
    border: 1px solid var( --blue);
    background-color: transparent;
     --bs-btn-padding-x: 0.75rem;
     --bs-btn-padding-y: 0.175rem;
  }
.responsivebtn{
    color: var(--pure-white);
    background-color: transparent;
    border: 1px solid var( --pure-white);
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.175rem;
 }

 /* --------mobile responsive side manu-----------  */
 .navbtn {
   width: 40px;
   height: 40px;
   margin-top: 8px;
   margin-left: 20px;
   /* margin-right: 20px; */
   background: transparent;
   border: none;
   color: #000;
   cursor: pointer;
   outline: none;
   padding: 5px 3px;
   -webkit-transition: all 0.6s;
   transition: all 0.6s;
   width: 40px;
   /* z-index: 1000; */
 }

 .navbtn:hover,
 .navbtn:active,
 .navbtn:focus {
   background: none !important;
   border-color: none !important;
 }

 .navbtn span {
   background: #002;
   border-radius: 5px;
   display: block;
   height: 2px;
   outline: none;
   -webkit-transition: all 0.6s;
   transition: all 0.6s;
   width: 100%;
   margin: 6px 0;
 }

 .sidebar {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   z-index: 2000;
   width: 100%;
   color: rgba(255, 255, 255, .8);
   background-color: var(--blue);
   padding: 20px;
   transition: transform 0.3s ease;
   transform: translateX(-100%);
 }

 .sidebar.show {
   transform: translateX(0);
 }
 .sidebar a {
   font-size: 20px;
   font-weight: 100;
   display: block;
   padding: 10px 0;
   color: #f1f1f1;
   text-decoration: none;
   transition: padding-left 0.5s ease;
 }

 .sidebar a:hover {
   color: #fff;
   padding-left: 0.5rem;
 }

 .clossbtn {
   font-size: 45px;
   font-weight: 400;
   padding: 0px;
   margin-top: -12px;
   color: #f1f1f1;
   background-color: transparent;
   border: none;
 }

 .clossbtn:hover {
   color: #ffff;
 }

 .responsesidebar {
   width: 50%;
   margin: 20px;
   padding: 20px;
 }

 .responsesidebar a {
  font-weight: var( --font-width);
   padding: 20px;
   font-family: var(--f-helvetica-text-regular);
 }

 .responsesidebar:hover {
   color: #fff;
 }

 @media screen and (max-width: 767px) {
  .navbar{
    padding: 0%;
  }
  #navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 0px;
}
   .navlogo {
     width: 108%;
   }
   .navbtn {
     width: 60px;
     margin-top: 2px;
   }
   .responsesidebar .nav-item{
    align-self: self-start;
   }
 }

 @media screen and (min-width: 768px) and (max-width : 1023px) {
  .navlogo {
    width: 85%;
  }
  .responsesidebar .nav-item{
    align-self: self-start;
   }
   .navbtn{
    margin-top: 2px;
   }
 }
 @media (min-width: 208px) and (max-width : 992px) {
   .container,
   .container-md,
   .container-sm {
     max-width: 881px;
   }
 }

 @media (min-width: 1204px) {
   .container,
   .container-md,
   .container-sm {
     max-width: 100%;
   }
 }