
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;
  --f-helvetica-text-regular: "HelveticaNowMTTextRegular", Helvetica, Arial, sans-serif;

  /* font sizes */
  --font-size-mini: 0.938rem;
  --font-size-base: 1rem;
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;

  /* Colors */
  --pure-white: #fff;
  --cenetian-red  : #f7281e;
  --salem-green   : #198f51;
  --brandeis-blue : #0060FE;
  --blue          : #4e73df;

  /* Gaps */
  --gap-0: 0rem;
  --gap-sm: 0.875rem;
  --gap-3xs: 0.625rem;

  /* Paddings */
  --padding-xs: 0.75rem;
  --padding-9xs: 0.25rem;
  --padding-12xs: 0.063rem;
  --padding-smi: 0.813rem;
  --padding-5xs: 0.5rem;

  /* Border radiuses */
  --br-5xs: 8px;
}