.mainTestimonial{
    width: 100%;
    /* margin: 110px 0px; */
}

.contentdiv{
    width: 100%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-style: italic;
    box-shadow: rgba(87, 99, 107, 0.3) 0px 1px 2px 0px, rgba(23, 25, 26, 0.15) 0px 2px 6px 2px;
    border-radius: 16px;
}
.testimonial-img{
    width: 60px;
    margin: -50px 0px 18px 0px;
}
.testimonial-img img{
    width: 100%;
}



/* Custom arrow styles */
.custom-arrow {
  width: 4.3%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(75, 72, 72);
    background-color: rgb(190 201 237 / 50%);
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    z-index: 1;
  }
  
  .custom-arrow-left {
    left: 1px;
  }
  
  .custom-arrow-right {
    right: 1px;
  }
  