@import './main.css';

.main-trail{
    width: 100%;
    background-color: var(--salem-green);
    border-radius: var(--sec-radius);
}
.sub-trail{
   padding: 6% 0px;
}
.trailhead{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trail-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 200px;
    text-align: center;
    color: var(--pure-white);
    font-family: var( --plus-Jakarta-Sans);
    font-size: var(--font-size-sm);
}
.trailButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
/*
.trailButton .tbtn{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}
*/
@media (max-width: 991.98px){ 
    .trailButton{
        margin: 30px 0;
    }
}
@media screen and (max-width:767px) {
    .trail-text{
        margin: 20px 30px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px) {
    .trail-text{
        margin: 20px 70px;
    }
}
/* @media (max-width: 575.98px) {
    
} */